#company-name{
    margin-bottom: 15px;
    font-size: 1.8em;
    font-weight: bold;
}

h2{
    margin-bottom: 15px;
}

h3{
    font-weight: bold;
}

#header-nav{
    border-radius: 0;
    border: 0;
    background-color: aquamarine;
}

#menu-list{
    background-color: darkkhaki;
    margin-top: 0px;
    margin-bottom: 0px;
}

#menu-list a{
    color: crimson;
}

#main-block{
    width: 96%;
    margin-bottom: 15px;
}

#main-block > .row .item-descr{
    background-color: darkseagreen;
    margin-bottom: 10px;
}

.item-descr section
{
    padding: 10px 15px 10px 15px;
}